.some{style: "color: gray; font-size: 22px;"}  哈哈
.some{style: "color: gray; font-size: 16px; margin-top: 10px;"} 
  &nbsp;&nbsp;&nbsp;&nbsp;自己的论坛终于能用了,以后会继续努力，再接再厉
  .p &nbsp;&nbsp;&nbsp;&nbsp;大家多多支持，没事上来刷屏，哈哈哈
  .p.some{style: "font-size: 18px; position: fixed;bottom: 0;width:100%; margin-bottom: 20px; text-align: center"} 作者：流光&nbsp;&nbsp;QQ：8849326
  