/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.btn-light{
    margin-bottom: 21px!important;
    background: snow!important;
    border-radius: 8px!important;
    border: lightblue 3px solid!important;
    color: #757575!important;
    width: 140px;
    left: 50%;
    position: absolute;
    margin-left: -70px;

}
.form-control {
  border: lightblue 2px solid!important;
  border-radius: 8px!important;
}
label {
  color: #B8B8B8;
  font-family: MicrosoftYaHei;
}
h1 {
  font-family: PingFangSC-Regular!important;
  color: #757575!important;
}
.a-light {
  font-family: PingFangSC-Regular;
  color: #BDBDBD;
}
.a-text {
  color: #006666!important;
}
