// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
  font-size: 14px;
  @media (max-width: 1000px) {
    padding-top: 160px;
    font-size: 34px;
    .header {
      margin-top: 1.8rem;
    }
  }
}


